.home-page {
    padding: 20px; /* Ajusta el espaciado alrededor de la página según sea necesario */
  }
  
  .welcome-message {
    margin-bottom: 20px;
  }
  
  .categories {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en varias filas */
    gap: 10px; /* Espacio entre las tarjetas */
  }
  
  .category-card {
    flex: 1 1 auto; /* Permite que la tarjeta crezca y se reduzca según el contenido */
    max-width: 200px; /* Ancho máximo para la tarjeta */
    text-align: center; /* Centrar el texto */
    border: 1px solid #ccc; /* Opcional: agrega un borde */
    border-radius: 8px; /* Opcional: agrega esquinas redondeadas */
    overflow: hidden; /* Oculta el desbordamiento */
    transition: transform 0.2s; /* Añadir animación en hover */
  }
  
  .category-card:hover {
    transform: scale(1.05); /* Escala la tarjeta al pasar el ratón */
  }
  
  .category-card img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  