/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Container */
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Login Form Styles */
.login-form h2 {
  color: #333;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #0056b3;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .login-container {
    padding: 15px;
    max-width: 300px;
  }
}

.admin-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.admin-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.admin-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.admin-container button:hover {
  background-color: #218838;
}

.home-page {
  padding: 20px;
  text-align: center;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las tarjetas */
  margin-top: 20px;
}

.category-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 180px; /* Ajustar el tamaño de las tarjetas */
  text-align: center;
}

.category-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.category-card:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

h3 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

